    /* Import poppins font */
    
    @import url('https://fonts.googleapis.com/css?family=Poppins:200i,400&display=swap');
  
    
    #drum-machine {
        border: solid;
        background-color:lightblue;
        box-shadow: 3px 3px 2px black;
    }
    #pads{
        border:solid;
        box-shadow: 3px 3px 2px black;
        ;
    }

    #controls{
        border:solid;
        box-shadow: 3px 3px 2px black;
        ;
    }

    .pad{width: 25%;
        height:60px;
        margin: 10px 0px;
        border-width: 2px;
        box-shadow: 3px 3px 2px black;
        background-color: lightgrey;
      }

    #display{border-width: 2px;
            width:70%;
        text-align: center}

 

 #mute:hover{transform: scale(1.2);}
 #unmute:hover{transform: scale(1.2);}